*~
*.bak
.anjuta*
INSTALL
Makefile
Makefile.in
TODO*
aclocal.m4
autom4te.cache*
configure
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
.deps*
.libs*
*.o
*.lo
*.pc
*.la
stamp-h1
tests/tests
Debug/
